# autotools products
TAGS
.libs
lib
.deps
aclocal.m4
autom4te.cache
Makefile
Makefile.in
compile
config.log
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4/
#
# build products
cppcheck-result.xml
fuse_sqlfs
sqlfscat
sqlfsls
libsqlfs-1.0.la
libsqlfs.pc
*.o
*.lo
tests/.tests
tests/fsx
tests/c_api
tests/c_api.db
tests/c_perf
tests/c_perf.db
tests/c_perf_key
tests/c_perf_key.db
tests/c_thread_api
tests/c_thread_api.db
tests/c_thread_api_key
tests/c_thread_api_key.db
tests/c_api_key
tests/c_api_key.db
tests/c_api_password
tests/c_api_password.db
tests/fuse_test
#
# emacs!
*~
.DS_Store
