# autotools products
TAGS
.libs
.deps
aclocal.m4
autom4te.cache
Makefile
Makefile.in
config.log
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4/
#
# build products
fuse_sqlfs
libsqlfs-1.0.la
libsqlfs.pc
*.o
*.lo
tests/.tests
tests/fsx
tests/c_api
tests/c_api.db
tests/c_perf
tests/c_perf_key
tests/c_thread_api
tests/c_thread_api_key
tests/c_api_key
tests/c_api_key.db
tests/fuse_test
